version: '3.8'

services:
  app:
    container_name: JFS
    image: maven:3.9-eclipse-temurin-21
    ports:
      - "8080:8080"
    volumes:
      # 2. Mount the WHOLE project directory to /app (so Maven can see pom.xml and src)
      - .:/app
      # 3. Mount your local Maven cache so it doesn't download JARs every time (Speed boost)
      - ~/.m2:/root/.m2
    working_dir: /app
    command: >
      /bin/sh -c "
        if [ ! -f target/JFS_Job_Finding_Service-0.0.1-SNAPSHOT.jar ]; then
          echo '⚠️ JAR not found! Building with Maven...';
          mvn clean package -DskipTests;
        fi;
        echo '✅ Starting Application...';
        java -jar target/JFS_Job_Finding_Service-0.0.1-SNAPSHOT.jar
      "
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/recruitment_data
      - SPRING_DATASOURCE_USERNAME=Thang#2006
      - SPRING_DATASOURCE_PASSWORD=Thang#2006
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT=org.hibernate.dialect.PostgreSQLDialect
      - SPRING_DATA_REDIS_HOST=redis
      - SPRING_DATA_REDIS_PORT=6379
      - SPRING_MQTT_URL=tcp://mqtt:1883
    depends_on:
      db:
        condition: service_healthy
      mqtt:
        condition: service_started
    networks:
      - app-network
    extra_hosts:
      - "host.docker.internal:host-gateway"
  redis:
    image: redis:alpine
    container_name: jfs-redis-blacklist
    command: redis-server --appendonly yes
    ports:
      - "6379:6379"
    volumes:
      - ./redis-data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 3
    networks:
      - app-network
  mqtt:
    image: eclipse-mosquitto:latest
    container_name: mosquitto
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - ./mosquitto/config/mosquitto.conf:/mosquitto/config/mosquitto.conf
      - ./mosquitto/data:/mosquitto/data
      - ./mosquitto/log:/mosquitto/log
    networks:
      - app-network

  db:
    image: groonga/pgroonga:3.2.4-alpine-17
    container_name: recruitment_data
    volumes:
      - postgres-data-dev:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      - POSTGRES_USER=Thang#2006
      - POSTGRES_PASSWORD=Thang#2006
      - POSTGRES_DB=recruitment_data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U 'Thang#2006' -d recruitment_data"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-network

volumes:
  postgres-data-dev:

networks:
  app-network:
    driver: bridge